body {
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: "FasterOne-Regular";
	src:url("fonts/FasterOne-Regular.ttf");
}

@font-face{
	font-family:Monoton-Regular;
	src:url("fonts/Monoton-Regular.ttf");
}

header {
	text-align: center;
	background: linear-gradient(#da8e8e, #cf5656);
	margin: 40px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 5px;
}

a {
	color: #6f1c1f;
}

ul {
	display: flex;
	justify-content: space-evenly;
	background: linear-gradient(#e71837, #6f1c1f);
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 25px;

}

ul li a:hover,
ul li a:focus {
	background: rgba(255,255,255, .2);
	box-shadow: 0 1px 0 rgba(255,255,255,.7) inset,
	0 -1px 0 hsl(210,100%, 42%) inset,
	0 -2px 0 hsl(210,100%, 48%) inset,
	0 -3px 0 hsl(210,100%, 54%) inset,
	0 -4px 0 hsl(210,100%, 60%) inset,
	0 -5px 0 hsl(210,100%, 70%) inset,
}

ul li a:active{
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
	box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

ul li a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	border-left: solid black;
	border-right: solid black;
	padding-left:50px;
	padding-right:50px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-width:1px; 
}

ul li {
	padding: 8px;
	border: 30;
	color: rgb(110,110,110);
	display: table-cell;
	text-shadow: 0 1px 0 rgba(255,255,255, .4);
}

h1{
	font-family: "Monoton-Regular";
	color: #e71837;
}

.container {
	display: flex;
	justify-content: space-evenly;
	border-radius: 10px;
}


.mangas {
	display: flex;
	align-items: flex-end;
	flex-flow: row-reverse;
	align-content: space-around;
}

.tendance {
	background: linear-gradient(#fa0025, #ce1170);
	padding-right: 200px;
	padding-left: 200px;
	margin-right: 120px;
	opacity: 0.8;
	text-align: center;
}

.actualite {
	justify-content: space-around;
	background: linear-gradient(#fa0025, #ce1170);
	padding-right: 80px;
	padding-left: 80px;
	margin-left: 90px;
	opacity: 0.8;
	text-align: center;
}

.manga {
	
	float: left;
	width: 80%;
	border: solid 1px;
	border-radius: 3px;
	margin:10px;
	background: linear-gradient(#fa0025, #cc3a3f);
}

.actu {	
	float: left;
	width: 70%;
	border: solid 1px;
	margin:10px;
	margin-left: 100px;
	background: linear-gradient(#fa0075b4, #ca0d13);
	border: #cc3a3f;
	border-radius: 3px;
}
.actu1{
	float:right;
	width: 30%;
}

.actu p{
	color: white;
}
.container2 {
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	flex-flow: column;
}

.boutique {
	text-align: center;
	margin-right: 300px;
	margin-left: 5%;
	margin-top: 10px;
	background: linear-gradient(#ee7b8c, #929292);
	border-radius: 10px;
}

.Cart {
	border-radius: 50px;
	margin-left: 71%;
	float: right;
	position: absolute;
	border:solid #6f1c1f;
	background-color: #cc3a3f;
	padding-right: 100px;
	padding-left: 100px;
	opacity: 0.9;
}

.panier{
	border: solid #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

.container img{
	float: right;
	margin: 30px;
}

button{
	background: linear-gradient(#e71837, #ee7b8c);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	border-color: #e71837;
	box-shadow: black;
}


























