body {
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: "FasterOne-Regular";
	src:url("fonts/FasterOne-Regular.ttf");
}
@font-face{
	font-family:Monoton-Regular;
	src:url("fonts/Monoton-Regular.ttf");
}

header {
	text-align: center;
	background: linear-gradient(#da8e8e, #cf5656);
	margin: 40px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 5px;
}

ul {
	display: flex;
	justify-content: space-evenly;
	background: linear-gradient(#e71837, #6f1c1f);
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 25px;

}
ul li a:hover,
ul li a:focus {
	background: rgba(255,255,255, .2);
	box-shadow: 0 1px 0 rgba(255,255,255,.7) inset,
	0 -1px 0 hsl(210,100%, 42%) inset,
	0 -2px 0 hsl(210,100%, 48%) inset,
	0 -3px 0 hsl(210,100%, 54%) inset,
	0 -4px 0 hsl(210,100%, 60%) inset,
	0 -5px 0 hsl(210,100%, 70%) inset,
}

ul li a:active{
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
	box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	border-left: solid black;
	border-right: solid black;
	padding-left:50px;
	padding-right:50px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-width:1px; 
}

ul li {
	padding: 8px;
	border: 30;
	color: rgb(110,110,110);
	display: table-cell;
	text-shadow: 0 1px 0 rgba(255,255,255, .4);
}
h1{
	font-family: "Monoton-Regular";
	color: #e71837;
}


.image{

width: 100px;
margin-left: 20px;

}


h3{
	color: red;
	margin-left: 30px;
}

p{
	color: black;
	margin-left: 20px;
	margin-right: 20px;

}

.Naruto {
	display: flex;
	flex-direction: column;
}

.naruto{
	margin-bottom: 20px;
	background-color: wheat;
	padding-right: 1;
	border-radius: 3px;
}
.hunterXHunter{
	margin-bottom: 20px;
	background-color: wheat;
	padding-right: 1;
	border-radius: 3px;
}

.dragonBall{
	margin-bottom: 20px;
	background-color: wheat;
	padding-right: 1;
	border-radius: 3px;
}

.onePunchMan{
	margin-bottom: 20px;
	background-color: wheat;
	padding-right: 1;
	border-radius: 3px;
}

.blueExorciste{
	margin-bottom: 20px;
	background-color: wheat;
	padding-right: 1;
	border-radius: 3px;
}
.tokyoGhoul{
	margin-bottom: 20px;
	background-color: wheat;
	padding-right: 1;
	border-radius: 3px;
}

#sousMenuArticle{
	border-top: solid white 2px;
}

.sous{
	display: none;	
	}
	
	
	.sous li{
	float: none;
	width: 100%;
	text-align: left;
	}
	
	.sous a{
		display: flex;
	flex-direction: column;
	
		padding: 10px;
		border-bottom: none;
	}
	
	.sous a:hover{
	border-bottom: none;
	
	
	}
	
	.deroulant > a:after{
		content:"▼";
	
	}























